.form_background {
  background-size: cover;
  background-image: url("https://backgroundcheckall.com/wp-content/uploads/2017/12/netflix-background-9.jpg");
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.form_page {
  background-color:rgba(0,0,0,0.6);
  display: block;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.sign_in {
  position: absolute;
  top: 15px;
  right: 10px;
  /* display: flex; */
  z-index: 1000;
}

.sign_in_button {
  cursor: pointer;
  width: 80px;
  height: 30px;
  color: white;
  outline: none;
  border: none;
  font-weight: 400;
  border-radius: 0.2vw;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-right:1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(233, 0, 0, 0.968);
}

.sign_in_button:hover {
  color: white;
  background-color: #292626;
  transition: all 0.2s;
}

.form_container {
  position: relative;
  padding-top: 180px;
  padding-right: 10%;
  padding-bottom: 50px;
  padding-left: 10%;
  margin-bottom: 0;
  background: 0 0;
  color: #fff;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}

input[type='text']{
  margin: 5px;
  width: 400px;
  height: 24px;
  border-radius: 10px;
}

input[placeholder]{
  font-size: 0.7rem;
  padding-left: .5rem;
}

input[type='submit']{
  cursor: pointer;
  color: white;
  width: 200px;
  outline: none;
  border: none;
  font-weight: 600;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(233, 0, 0, 0.968);
}

input[type='submit']:hover {
  color: white;
  background-color: #292626;
  transition: all 0.2s;
}