.nav {
  /* background: #000; */
  color: white;
  font-size: 0.5rem;
  font-weight: 100;
  /* padding-bottom: 0.3rem; */

  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 40px;
  /* display: flex; */
  /* justify-content: space-between; */
}

.my_list {
  padding: 8px;
  width: 80px;
  object-fit: contain;
  float: right;
}

.nav_avatar {
  height: 40px;
  object-fit: contain;
  float: right;
}